.todo-card
{
    font-size: 20px;
    border-color: orange;
    border: 2px solid gray;
    border-radius: 10px;
    padding: 5px;
    margin-top: 10px;
    width: 90%;
    font-family:  cursive;
    font-optical-sizing: auto;
    font-weight: bolder;
    position: relative;
    display: flex;
  

}
.category
{
    font-size: 12px;
    text-align: right;
    position: absolute;
    border: 1px solid gray;
    padding: 5px;
   right: 10px;
   bottom: 2px;
   text-align: center;
   border-radius: 2px 2px 15px 15px;
   width: 80px;
   
}