.heading
{
    text-align: center;
    font-family:  cursive;
    margin: -10px -10px;
    font-weight: weight;
    font-style: normal;
    font-size: 35px;
  
}
@media screen and (max-width:768px)
{
    .heading
{
    
   margin: 0px auto;
   text-align: center;
   font-size: 40px;
   margin-top: 40px;
 
}
}
.todo-list-container
{
   
    position: relative;
    height: 450px;
    width: 550px;
    margin: 10px auto;
    background-image: linear-gradient( 174.2deg,  rgba(255,244,228,1) 7.1%, rgba(240,246,238,1) 67.4% );
    padding: 10px;
    border-radius: 10px;
    border: 10px double rgb(248, 136, 200);
    overflow:scroll;
  scroll-behavior: smooth;
  padding-left: 100px;
  border-left: 15px dotted gray;

    
}
@media screen and (max-width:768px)
{
    .todo-list-container
{
    
    height: 760px;
    width: 100%;
   
 
}
}
.check-girl-icon
{
    position: absolute;
    bottom: 40px;
    left: 310px;
    height: 120px;
    width: 120px;position: fixed;

}
@media screen and (max-width:768px)
{
    .check-girl-icon
{
    
   
   display: none;
}
}
.add-task-container
{
    display: flex;
    justify-content: center;
  
}

.add-input-box
{
    padding:5px 8px;
    border-radius: 10px;
    font-size: 20px;
    margin: 0px 10px;
}
@media screen and (max-width:768px)
{
    .add-input-box
{
    
    padding:5px 8px;
    border-radius: 10px;
    font-size: 18px;
    margin: 0px 10px;
    margin-left: 150px;
    width: 150px;
}
}
.add-btn
{
    padding:5px 15px;
    border-radius: 10px;
    font-size: 15px;
    margin: 0px 10px;
    cursor:pointer;


}
.add-btn:hover
{
    background-color: green;
    transform:rotate(180deg)
}

.empty-task-container-text
{
    text-align:center;
    font-size: 50px;
    font-family:  cursive;
    font-optical-sizing: auto;
    font-size: 40px;
    margin-top: 200px;
}

.task-category-options
{
    padding:5px 8px;
    border-radius: 10px;
    font-size: 14px;
    margin: 0px 10px;
}